body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f0f0f0 url('/lol.jpg') center/cover no-repeat;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}

label,
p {
    font-size: 1.2em;
}

input[type="text"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type="button"] {
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#resultado {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#resultado button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
